<?xml version="1.0" encoding="utf-8"?>
<config>
    <plugins>
        <port>
        <description>port according to plugins</description>
        <id>10000</id>
        </port>
    </plugins>
    <spiders>
        <port>
            <description>port according to spider</description>
            <id>10000</id>
        </port>
    </spiders>

</config>